<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		 {{ partial "head.html" . }}

		<div class="posts section">
			<h2 class="section-header posts__headline">Recent posts</h2>
			<div class="posts__wrapper">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<ul class="posts__list">
					<li class="posts__item"><a class="posts__link" href="{{ .RelPermalink }}">{{.Title}}</a></li>
				</ul>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
